:root {
    --header-color: #01a3a4;
    --bg-color: #fff;
    --border-color: #808080;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: var(--bg-color);
}

.container {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    max-width: 100%;
    padding: 8px 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px var(--border-color);
}

header .container img {
    width: 10%;
    height: 10%;
    background-image: #808080;
}

header .container input {
    border-radius: 8px;
    padding: 8px 4px;
}

header .container button {
    border-radius: 8px;
    border: none;
    padding: 10px 10px;
    color: var(--bg-color);
    background-color: var(--header-color);
}

section {
    padding: 4em 1em;
}

section .container {
    max-width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

section .container_datas {
    width: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section .container_readme {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: solid 1px var(--border-color);
    border-radius: 8px;
}

section .container_readme h2 {
    display: block;
    text-align: center;
    margin-bottom: 8px;
}

section .container_readme p {
    display: block;
    text-align: center;
    margin-top: 8px;
}

section .container_repositories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.numbers--mobile {
    display: none;
}

.profile-avatar {
    border-radius: 50%;
    margin-bottom: 24px;
    width: 180px;
    height: 180px;
}

.profile-name {
    font-size: 1.5em;
    text-align: center;
    flex-wrap: wrap;
}

.profile-username {
    margin: 16px 0 32px;
    font-size: 1.3em;
    font-weight: 100;
    color: #959595;
    text-decoration: underline;
    cursor: pointer;
}

.profile-link {
    background-color: var(--header-color);
    color: var(--bg-color);
    padding: 8px 16px;
    display: block;
    margin-top: 24px;
    border-radius: 8px;
    text-decoration: none;
}

.numbers {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    gap: 2em;
}

.numbers-item {
    font-size: 2.5em;
    font-weight: bold;
}

.numbers-item h4 {
    font-size: 0.5em;
}

/* Responsividade */
@media (max-width: 320px) {
    header .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px
    }

    header .container img {
        width: 20%;
        height: 20%;
    }

    .header__container__button input {
        width: 120px;
    }

    section .container {
        max-width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section .container_readme {
        width: 300px;
        padding: 4px;
        margin-top: 2em;
    }

    .numbers--mobile {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .numbers-item--mobile span {
        font-weight: bold;
        font-size: 20px;
    }

    .numbers-item--mobile h4 {
        font-size: 24px;
    }

    .numbers {
        display: none;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    header .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
    }

    header .container img {
        width: 20%;
        height: 20%;
    }

    .header__container__button input {
        width: 140px;
    }

    section .container {
        max-width: 100%;
        height: 110vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section .container_readme {
        width: 350px;
        padding: 4px;
        margin-top: 3em;
    }

    .numbers--mobile {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .numbers-item--mobile span {
        font-weight: bold;
        font-size: 20px;
    }

    .numbers-item--mobile h4 {
        font-size: 24px;
    }

    .numbers {
        display: none;
    }
}